<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digii destination</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3b161c540c.js" crossorigin="anonymous"></script>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
  
  *,
  *::before,
  *::after {
      box-sizing: border-box;
  }
  
  * {
      margin: 0;
      padding: 0;
      font-family: "monteserrat";
  }
  
  
  .footer {
      background-color: #151515;
      padding: 80px 0;
  }
  
  .container {
      max-width: 1170px;
      margin: auto;
  }
  
  .row {
      display: flex;
      flex-wrap: wrap;
  }
  
  ul {
      list-style: none;
  }
  
  .footer-col {
      width: 25%;
      padding: 0 15px;
  }
  
  .footer-col h4 {
      font-size: 18px;
      color: #fff;
      text-transform: capitalize;
      margin-bottom: 35px;
      font-weight: 500;
      position: relative;
  }
  
  .footer-col h4::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -10px;
      background-color: #e91e63;
      width: 50px;
      height: 2px;
  }
  
  .footer-col ul li:not(:last-child) {
      margin-bottom: 10px;
  }
  
  .footer-col ul li a {
      color: #ddd;
      display: block;
      font-size: 1rem;
      font-weight: 300;
      text-transform: capitalize;
      text-decoration: none;
      transition: all 0.3s ease;
  }
  
  .footer-col ul li a:hover {
      color: #fff;
      padding-left: 7px;
  }
  
  .footer-col .social-links a {
      color: #fff;
      background-color: rgba(255, 255, 255, 0.2);
      display: inline-block;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      text-align: center;
      margin: 0 10px 10px 0;
      line-height: 40px;
      transition: all 0.5s ease;
  }
  
  .footer-col .social-links a:hover {
      color: #151515;
      background-color: #fff;
  }
  
  @media (max-width: 767px) {
      .footer-col {
          width: 50%;
          margin-bottom: 30px;
      }
  }
  
  @media (max-width: 574px) {
      .footer-col {
          width: 100%;
      }
  }
  
    </style>
</head>
<body>
<div id="main">
    <div id="navbar">
        <div id="nav1">
            <img id="logo" src="/images/ayushwebsitewithoutbg.png" alt="image">
           
            
        </div>
        <div id="nav2">
            <a href="index" ><h3>Home</h3></a>
            <a href="about"><h3>about us</h3></a>
            <a href="contact"><h3>Contact</h3></a>
            <a href="store"><h3>Store</h3></a>
            <a href="signup"><h3>signup</h3></a>
            <i class="ri-menu-line"></i>
        </div>
    </div>
    <div id="navforphone">
        <a href="index" ><h3>Home</h3></a>
        <a href="about"><h3>about us</h3></a>
        <a href="contact"><h3>Contact</h3></a>
        <a href="store"><h3>Store</h3></a>
        <a href="signup"><h3>signup</h3></a>
    </div>
    <div id="content">
        <div id="left">
            <h1><span>Digii</span>  Destination</h1> 
            <p>Mobiles at best price</p>
            <a href="store"><button>Explore Now</button></a>
          
        </div>
        <div id="right">
           <img  src="/images/iphones-removebg-preview (1).png" alt="">
           <video id="discountvideo" autoplay muted loop src="/images/cuttedoffervideo.mp4"></video>
            
        </div>
    </div>
    <div id="page2">
        
    <div id="heading">
        <h1>Explore Our Trusted Brands</h1>
    </div>
    <div id="brands">
            <div id="Apple">
               <a href="store"><img src="/images/applenewlogo.png" alt=""></a>
            </div>
            <div id="Samsung">
               <a href="store"> <img src="/images/samsungnewlogo.png" alt=""></a>
            </div> 
            <div id="realme">
                <a href="store"><img src="/images/realmelogo.png" alt=""></a>
            </div>
            <div id="one-plus">
               <a href="store"> <img src="/images/oneplusnewlogo.png" alt=""></a>
            </div>
            <div id="redmi">
               <a href="store"> <img src="/images/redminewlogo.png" alt=""></a>
            </div>
            <div id="oppo">
               <a href="store"> <img src="/images/oppologonew.png" alt=""></a>
            </div>
         </div>
    </div>
    <!-- Site footer -->
    <footer class="footer">
      <div class="container row">
          <div class="footer-col">
              <h4>company</h4>
              <ul>
                  <li><a href="about">about us</a></li>
                  <li><a href="store">our services</a></li>
                  <li><a href="privacypolicy">privacy policy</a></li>
                  <li><a href="index">visit website</a></li>
              </ul>
          </div>
          <div class="footer-col">
              <h4>get help</h4>
              <ul>
                  <!-- <li><a href="#">FAQ</a></li> -->
                  <li><a href="contact">contact us</a></li>
                  <li><a href="store">our products</a></li>
              </ul>
          </div>
          <div class="footer-col">
              <h4>online shop</h4>
              <ul>
                  <!-- <li><a href="#">changelog</a></li> -->
                  <li><a href="#">all version</a></li>
              </ul>
          </div>
          <div class="footer-col">
              <h4>follow us</h4>
              <div class="social-links">
                  <a href="https://www.instagram.com/digiidestination_official_/"><i class="fa-brands fa-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/ayush-mishra-969453252/?originalSubdomain=in"><i class="fa-brands fa-linkedin-in"></i></a>
              </div>
          </div>
      </div>
  </footer>
</div>
<script>
    
const nav = document.getElementById('navforphone');

function toggleNav() {
  nav.classList.toggle('open'); 
}
// Get menu icon and nav elements
const menuIcon = document.querySelector('.ri-menu-line'); 
// const nav = document.getElementById('navforphone');

// Add click event to menu icon
menuIcon.addEventListener('click', function() {

  // Toggle open class on nav 
  nav.classList.toggle('open');

  // Toggle display of content
  const content = document.getElementById('content');
  content.style.display = content.style.display === 'none' ? 'flex' : 'none'; 

});
// const menuIcon = document.querySelector('.menu-icon');

menuIcon.addEventListener('click', () => {

  if(menuIcon.classList.contains('ri-menu-line')) {
    menuIcon.classList.replace('ri-menu-line', 'ri-cross-line');
  } else {
    menuIcon.classList.replace('ri-cross-line', 'ri-menu-line'); 
  }
  
  // Toggle menu open/closed

});


</script>
</body>
</html>